.profile__paragraph {
   -ms-grid-column: 1;
   -ms-grid-column-span: 2;
   grid-column: 1 / span 2;
   -ms-grid-row: 2;
   -ms-grid-row-span: 1;
   grid-row: 2 / 3;
   -ms-grid-row-align: start;
   align-self: start;
   font-size: 18px;
   line-height: 1.22;
   margin: 0;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

@media screen and (max-width: 768px) {
   .profile__paragraph {
      font-size: 16px;
   }
}

@media screen and (max-width: 600px) {
   .profile__paragraph {
      font-size: 14px;
   }
}

@media screen and (max-width: 550px) {
   .profile__paragraph {
      max-width: 282px;
      -ms-grid-column-align: center;
      justify-self: center;
   }
}