.profile {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: auto 30px 1fr 30px 1fr;
   grid-template-columns: auto 1fr 1fr;
   -webkit-column-gap: 30px;
   -moz-column-gap: 30px;
   column-gap: 30px;
   padding-top: 40px;
   padding-bottom: 50px;
   position: relative;
}

@media screen and (max-width: 880px) {
   .profile {
      padding-right: 19px;
      padding-left: 19px;
   }
}

@media screen and (max-width: 550px) {
   .profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center;
      padding-bottom: 36px;
   }
}