.profile__title-block {
   padding-bottom: 16px;
}

@media screen and (max-width: 550px) {
   .profile__title-block {
      padding-bottom: 14px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
   }
}