.profile__info {
   max-width: 340px;
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-template-rows: repeat(2, auto);
   align-items: end;
   column-gap: 18px;
   row-gap: 6px;
}

@media screen and (max-width: 550px) {
   .profile__info {
      column-gap: 10px;
      margin-top: 26px;
      margin-bottom: 36px;
   }
}