.main-page {
   max-width: 1280px;
   margin: 0 auto;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0 19px;
   position: relative;
}

@media screen and (max-width: 880px) {
   .main-page {
      padding: 0;
   }
}